body {
  margin: 0;
  font-family: 'Open Sans';
  text-decoration: none;
  background-color: #191A1B;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

img {
  max-width: 100%;
}

.top {
	display: flex;
	justify-content: space-between;
	height: 50px;
	max-width: 1200px;
	text-align: center;
	margin: 20px auto 0;
}

.logo-top {
	margin-top: 8px;
	background-size: 130px 35px;
	max-height: 35px;
}

.top-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 120px auto 0;
	text-align: center;  
	max-width: 1200px;
	color: white;
}

.slack-btn {
	background-size: 150px 50px;
	max-height: 50px;
	margin-bottom: 40px;	
}

.title {
	margin: 120px auto 80px;
	max-width: 960px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 44px;
	font-weight: 800;
	line-height: 55px;
	text-align: center;	
	color: white;
}

hr {
	width: 192px;
    height: 12px;
    background-color: #5a5ae6;
    border-radius: 1px;
    margin: 28px auto 24px;
    border: 0;
}

.section {
	margin: 0 auto;
	max-width: 960px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 34px;	
	color: white;
	margin-bottom: 24px;	
}

h3 {
	font-size: 17px;
	font-weight: 600;
	line-height: 30px;	
	color: white;
	margin-bottom: 10px;	
}

.h3-div {
	margin-top: 24px;
}

.break-container {
	max-width: 960px;
	margin: 0 auto;
}

.break {
	height: 1px;
    border: 2px;
    background-color: #434648;
    width: 100%;
    margin: 60px auto;
}

.last {
	margin-bottom: 0;
}

.command {
	color: #fff;
    background-color: #5a5ae6;
    display: inline-block;
    border-radius: 4px;
    white-space: nowrap;
    padding: 1px 4px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.15px;
	font-family: 'Overpass Mono', monospace;
}

.bullet-type {
	padding-left: 35px;
	color: white;
}

.content {
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 0;
	color: #8792A0;
}

.description {
	font-size: 18px;
	line-height: 30px;
	margin: 15px auto 25px;
	color: #8792A0;
	font-family: 'Open Sans';
	font-weight: 400;
	max-width: 540px;	
}

ol {
	padding-top: 24px;
}

.footer-top {
	display: flex;
	justify-content: space-around;
	background-color: #191A1B;
	height: 700px;
	margin: 0 auto;
	text-align: center;
}

.footer-cta {
	margin-bottom: 0;
}

.text-footer {
	align-self: center;
}

.footer-title {
	font-family: 'Playfair Display', serif;
	font-size: 39px;
	font-weight: 800;
	line-height: 40px;
	margin-bottom: 13px;
	color: white;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	background-color: #191A1B;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
}

.footer-b {
	align-self: flex-start;
	color: #8792a0;
	font-size: 13px;
	font-weight: 400;
}

.fastgrep-alt {
	background-size: 120px 25px;
	max-height: 25px;	
}


li {
  padding-left: 20px;

}

.footer-li {
	display: inline;
}

.inline-link {
	text-decoration: none;
	color: #5a5ae6;	
}

li a {
	text-decoration: none;
	font-size: 15px;
	color: #8792a0;
}

li a:hover {
	color: #5a5ae6;
}



/********* RESPONSIVE *********/

@media screen and (max-width: 768px) and (min-width: 481px) {

.btn {
	display: none;
}

.top, .top-container  {
	padding: 0 4%;
}

.section, .top-container  {
	padding: 0 4%;
}

.web-container, .footer-bottom {
	padding: 0 4%;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {


        /***********************************

        iPhone 5

        ************************************/

.slack-btn-top {
	display: none;
}

.top, .top-container  {
	padding: 0 4%;
}

.content-title {
	font-size: 30px;
	line-height: 44px;
}

.section, .text-footer {
	padding: 0 7%;
}

.top {
	justify-content: center;
}

h2, h3 {
	text-align: left;
}

.slack-btn {
	margin-bottom: 20px;
}

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 1.5em;
	font-weight: 800;
	line-height: 36px;
	margin-bottom: 20px;	
}

.description {
	font-size: 1.05em;
	line-height: 27px;
	margin-bottom: 30px;
}

.footer-title {
	font-size: 1.5em;
}

.footer-bottom {
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	height: 100px;
}

ul {
	margin-top: 20px;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6/7/8

        ************************************/

.slack-btn-top {
	display: block;
}

.top {
	justify-content: space-between;
}

.content-title {
	font-size: 38px;
	line-height: 52px;
}

h2, h3 {
	text-align: left;
	font-size: 1.4em;
	line-height: 35px;
	margin: 12px auto;
}

.content, .description {
	font-size: 17px;
	line-height: 30px;
}

.footer-title {
	font-size: 29px;
	line-height: 40px;
}

}


@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6/7/8 Plus

        ************************************/

.content-title {
	font-size: 38px;
	line-height: 52px;
}

h2, h3 {
	text-align: left;
	font-size: 1.5em;
	line-height: 35px;
	margin: 12px auto;
}

.content, .description {
	font-size: 18px;
	line-height: 30px;
}

.footer-title {
	font-size: 32px;
}

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) { 

        /***********************************

        iPhone X

        ************************************/


.content-title {
	font-size: 38px;
	line-height: 52px;
}

h2, h3 {
	text-align: left;
	font-size: 1.5em;
	line-height: 37px;
	margin: 12px auto;
}


.section, .text-footer {
	padding: 0 8%;
}

.content, .description {
	font-size: 20px;
	line-height: 32px;
}

.footer-title {
	font-size: 32px;
	line-height: 44px;
}


li a {
	font-size: 17px;
}


}

