body {
  margin: 0;
  font-family: 'Open Sans';
  text-decoration: none;
  background-color: #0C1014;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.top {
	height: 40px;
	max-width: 1200px;
	text-align: center;
	margin: 20px auto 0;
}

.logo-top {
	padding-top: 8px;
	float: left;
}

.slack-btn-top {
	float: right;
}

.top-container {
	display: flex;
	justify-content: space-between;
	margin: 120px auto 0;
	text-align: left;  
	max-width: 1200px;
	color: white;
}

.sniffy-description {
	max-width: 626px;
	align-self: center;
}

.sniffy-headline {
	font-size: 39px;
	font-weight: 800;
	line-height: 48px;
	margin-bottom: 13px;
}

.description, .h2-description, .h3-description {
	color: #4B4B4B;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	max-width: 520px;
	margin-bottom: 22px;
	color: white;
}

.bot-mockup {
	background-size: 469px 426px;
	max-height: 426px;
}

.slack-btn {
	background-size: 139px 40px;
	max-height: 40px;	
}

.never-miss {
	margin: 200px auto 0;
	text-align: center;  
	max-width: 1200px;
	color: white;	
}

h2 {
	margin: 0 auto 14px;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	max-width: 571px;
}

.h2-description {
	font-size: 16px;
	margin: 0 auto;
	max-width: 780px;
}

.features-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;  
	max-width: 1200px;
}

.never-miss-description {
	margin-bottom: 55px;
}

.f-1 {
	max-width: 350px
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;	
  margin: 24px 0 10px;
}

.h3-description {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 0;
  color: #8792A0;
}

.webapp {
	margin: 0 auto;
}

.web-app {
	background-size: 1085px 776px;
	max-height: 776px;
}

.footer-top {
	display: flex;
	justify-content: space-around;
	background-color: #0C1014;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

.text-footer {
	align-self: center;
}

.alt {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	max-width: 582px;
}

.footer-bottom {
	display: flex;
	justify-content: space-around;
	background-color: #0C1014;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}

.footer-description {
	align-self: center;
	color: #8792a0;
	font-size: 13px;
	font-weight: 400;
}

/********* RESPONSIVE *********/

@media screen and (max-width: 768px) and (min-width: 481px) {

.top, .never-miss {
	padding: 0 5%;
}

.slack-btn {
	margin-bottom: 20px;
}

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 2em;
	font-weight: 800;
	line-height: 46px;
	margin-bottom: 20px;	
}

.h2-description, .description {
	text-align: center;
	font-size: 1.4em;
	line-height: 34px;
	margin: 0 auto;
}

.description {
	margin-bottom: 30px;
}

.never-miss {
	margin-top: 80px;
}

.top-container {
	margin-top: 80px;
	align-items: center;
	flex-direction: column;
}

.features-container {
	align-items: center;
	flex-direction: column;
}

.feature-1, .feature-2 {
	margin-bottom: 55px;
}

h2 {
	font-size: 1.7em;
	line-height: 34px;
}

h3 {
	font-size: 1.4em;
	line-height: 34px;	
}

.h3-description {
	font-size: 1.25em;
	line-height: 30px;		
}

.alt {
	font-size: 2em;
	line-height: 45px;
	padding: 0 30px;
}

.footer-description {
	font-size: 1.05em;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {


        /***********************************

        iPhone 5

        ************************************/


.top, .never-miss, .top-container {
	padding: 0 6%;
}

.slack-btn {
	margin-bottom: 30px;
}

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 1.6em;
	font-weight: 800;
	line-height: 36px;
	margin-bottom: 13px;	
}

.h2-description, .description {
	text-align: center;
	font-size: 0.98em;
	line-height: 26px;
}

.never-miss {
	margin-top: 80px;
}

.top-container {
	margin-top: 80px;
	align-items: center;
	flex-direction: column;
}

.features-container {
	align-items: center;
	flex-direction: column;
}

.feature-1, .feature-2 {
	margin-bottom: 55px;
}

h2 {
	font-size: 1.3em;
	line-height: 30px;
}

h3 {
	font-size: 1em;
	line-height: 26px;	
}

.h3-description {
	font-size: 0.94em;
	line-height: 25px;		
}

.alt {
	font-size: 1.4em;
	line-height: 30px;
	padding: 0 30px;
}

.footer-description {
	font-size: 0.75em;
}

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6/7/8

        ************************************/

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 1.6em;
	line-height: 36px;	
}

.h2-description, .description {
	font-size: 1.02em;
	line-height: 25px;
}

h2 {
	font-size: 1.5em;
	line-height: 32px;
}

h3 {
	font-size: 1.1em;
	line-height: 28px;	
}

.h3-description {
	font-size: 0.98em;
	line-height: 27px;		
}

.alt {
	font-size: 1.6em;
	line-height: 37px;
}

.footer-description {
	font-size: 0.85em;
}

}


@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6/7/8 Plus

        ************************************/

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 1.9em;
	line-height:40px;
	margin-bottom: 20px;	
}

.h2-description, .description {
	font-size: 1.15em;
	line-height: 30px;
}

.description {
	margin-bottom: 30px;
}

h2 {
	font-size: 1.5em;
	line-height: 32px;
}

h3 {
	font-size: 1.25em;
	line-height: 30px;	
}

.h3-description {
	font-size: 1.1em;
	line-height: 28px;		
}

.alt {
	font-size: 1.8em;
	line-height: 38px;
}

.footer-description {
	font-size: 0.9em;
}

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) { 

        /***********************************

        iPhone X

        ************************************/

.sniffy-description {
	text-align: center;
}

.sniffy-headline {
	font-size: 1.8em;
	line-height: 45px;
	margin-bottom: 20px;
}

.h2-description, .description {
	font-size: 1.2em;
	line-height: 31px;
}

.description {
	margin-bottom: 40px;
}

h2 {
	font-size: 1.65em;
	line-height: 40px;
}

h3 {
	font-size: 1.25em;
	line-height: 34px;	
}

.h3-description {
	font-size: 1.15em;
	line-height: 30px;		
}

.alt {
	font-size: 1.8em;
	line-height: 45px;
}

.footer-description {
	font-size: 0.95em;
}


}

